/be/.vs/be-horizonsb/v16/Server/sqlite3/db.lock
/be/.vs/be-horizonsb/v16/Server/sqlite3/storage.ide
/be/.vs/be-horizonsb/v16/Server/sqlite3/storage.ide-shm
/be/.vs/be-horizonsb/v16/Server/sqlite3/storage.ide-wal
/be/src/horizonsb.api/obj/Debug/netcoreapp2.2/horizonsb.api.AssemblyInfo.cs
/be/src/horizonsb.api/obj/Debug/netcoreapp2.2/horizonsb.api.RazorAssemblyInfo.cs
/be/src/horizonsb.api/obj/Debug/netcoreapp2.2/horizonsb.api.csproj.CopyComplete
/be/src/horizonsb.api/obj/Debug/netcoreapp2.2/horizonsb.api.csproj.FileListAbsolute.txt
/be/src/horizonsb.api/obj/horizonsb.api.csproj.nuget.dgspec.json
/be/src/horizonsb.api/obj/horizonsb.api.csproj.nuget.g.props
/be/src/horizonsb.api/obj/horizonsb.api.csproj.nuget.g.targets
/be/src/horizonsb.api/obj/project.assets.json
/be/src/horizonsb.api/bin/Debug/netcoreapp2.2/Properties/launchSettings.json
/be/src/horizonsb.api/bin/Debug/netcoreapp2.2/appsettings.Development.json
/be/src/horizonsb.api/bin/Debug/netcoreapp2.2/appsettings.json
/be/src/horizonsb.api/bin/Debug/netcoreapp2.2/horizonsb.api.deps.json
/be/src/horizonsb.api/bin/Debug/netcoreapp2.2/horizonsb.api.runtimeconfig.dev.json
/be/src/horizonsb.api/bin/Debug/netcoreapp2.2/horizonsb.api.runtimeconfig.json
/be/src/horizonsb.api/bin/Debug/netcoreapp2.2/horizonsb.api.xml
/be/src/horizonsb-commons.vm/obj/Debug/netcoreapp2.2/horizonsb-commons.vm.AssemblyInfo.cs
/be/src/horizonsb-commons.vm/obj/Debug/netcoreapp2.2/horizonsb-commons.vm.csproj.FileListAbsolute.txt
/be/src/horizonsb-commons.vm/obj/horizonsb-commons.vm.csproj.nuget.dgspec.json
/be/src/horizonsb-commons.vm/obj/horizonsb-commons.vm.csproj.nuget.g.props
/be/src/horizonsb-commons.vm/obj/horizonsb-commons.vm.csproj.nuget.g.targets
/be/src/horizonsb-commons.vm/obj/project.assets.json
